.cursor {
  width: 23px;
  height: 23px;
  border: 3px solid red;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s;
  pointer-events: none;
  z-index: 1200;
}

.cursorHover {
  transform: scale(3);
  border: none;
  box-shadow: 0 0 10px red;
  background-color: transparent;
}

.cursorHoverSm {
  transform: scale(2);
  border: none;
  box-shadow: 0 0 10px red;
  background-color: transparent;
}

.cursorHoverMini {
  transform: scale(0.5);
  box-shadow: 0 0 20px red;
}

.cursorHoverText {
  transform: scale(1.5);
  width: 4rem;
  border: 1px solid red;
  border-radius: 5%;
  box-shadow: 0 0 20px red;
}


// .scrollBtn {
//   position: absolute;
//   left: 50%;
//   bottom: 5rem;
//   transform: translateX(-50%);
//   color: white;
//   font-size: 4rem;
//   animation: mouseScrollAnimation 0.5s linear infinite alternate;
// }

@keyframes mouseScrollAnimation {
  to {
    transform: translate(-50%, -10px);
  }
}
